.App {
  text-align: center;
}

.calc-main{
  width: 16rem;
  margin: auto;
}

.keypad>button{
  margin: .2rem;
}

.keypad{
  width: 12rem;
  margin: auto;
}
 
input{
  width: max-content;
  margin: 1rem auto 0;
  box-sizing: border-box;
}